body {
    background-color: rgb(144, 201, 144);
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hargafinal {
    font-weight: bold;
    color: brown;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}

.profilepicture {
    border-radius: 50%;
}

.photo {
    border-radius: 25px;
    border: 2px solid gray;
    padding: 10px;
    width: 510px;
}

.photo img {
    width: 300px;
    height: 500px;
    transition: width 1s;
}

.photo img:hover {
    width: 500px;
}
